body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', serif;
}

.nav {
	background-color: #006FBE;
	color: #ffffff;
	list-style: none;
	text-align: right;
	padding: 20px 0 20px 0;
	margin: 0;
}

.nav > li {
	display: inline-block;
	padding-right: 50px;
	font-size: 20px;
}

.nav > li > a {
	text-decoration: none;
	color: #ffffff;
}

.nav > li > a:hover {
	color: #c1c1c1;
}

.logo {
	color: #ffffff;
	float: left;
	padding: 0 0 0 20px;
	font-size: 36px;
	font-weight: bold;
	margin-top: -10px;
}

.sub_banner {
	background-color: #91D0FF;
	color: #ffffff;
	padding: 10px 0 10px 20px;
	font-size: 18px;
}

.content {
	padding: 10px 0 0 30px;
}

.errorlist {
    color: #f70202;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
}

.scrollit {
    overflow:scroll;
    width:1600px;
    height:500px;
}