{% extends "rate_setting_app/base.html" %}

{% block title %}Rate Setting Tables{% endblock title %}
{% block subtitle %}Tables{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<b>Table:</b> <select name="tableSelect">
	<option value="T000X">T000X</option>
	<option value="T000XA">T000XA</option>
	<option value="T001X">T001X</option>
	<option value="T008X">T008X</option>
	<option value="T009X">T009X</option>
	<option value="T010X">T010X</option>
	<option value="T011X">T011X</option>
	<option value="T024X">T024X</option>
	<option value="T040X">T040X</option>
	<option value="T060X">T060X</option>
	<option value="T0C5X">T0C5X</option>
	<option value="T0C6X">T0C6X</option>
	<option value="T0C8X">T0C8X</option>
	<option value="T113X">T113X</option>
	<option value="T114X">T114X</option>
	<option value="T115X">T115X</option>
	<option value="TA04F">TA04F</option>
	<option value="TA19F">TA19F</option>
	<option value="TA22F">TA22F</option>
	<option value="TA33F">TA33F</option>
	<option value="TAB1F">TAB1F</option>
	<option value="TAB2F">TAB2F</option>
	<option value="TAB3F">TAB3F</option>
	<option value="TAD3F">TAD3F</option>
	<option value="TU008">TU008</option>
	<option value="TU06F">TU06F</option>
	<option value="TU07F">TU07F</option>
	<option value="TU120">TU120</option>
	<option value="TU140">TU140</option>
	<option value="TU150">TU150</option>
	<option value="TU161">TU161</option>
	<option value="TU221">TU221</option>
	<option value="TU241">TU241</option>
	<option value="TU342">TU342</option>
	<option value="TU443">TU443</option>
	<option value="TU481">TU481</option>
	<option value="TU491">TU491</option>
	<option value="TU56F">TU56F</option>
	<option value="TUAC7">TUAC7</option>
	<option value="TW24X">TW24X</option>
</select>

<button type="submit">Go</button> <br />
<br />
 </form>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
	background-color: #91D0FF;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class="scrollit">
<table>
	<thead>
		<tr>
		    <th>COMPANY_CODE</th>
		    <th>PRODUCT_PREFIX</th>
		    <th>PRODUCT_SUFFIX</th>
		    <th>LOB_CODE</th>
		    <th>EFFECTIVE_DATE</th>
		    <th>REL_EXIST_STRETCH</th>
		    <th>DECNT_GE705_CONTYR</th>
		    <th>FIRST_RMD_RULE</th>
		    <th>FIRST_RMD_RUL_DESC</th>
		    <th>DECNT_GE705_DEADYR</th>
		    <th>FIRST_AGE_RULE</th>
		    <th>FIRST_AGE_RUL_DESC</th>
		    <th>ADJ_TO_LE</th>    
		    <th>ADJ_TO_LE_DESC</th>
		    <th>RMD_METHOD</th>
		    <th>RMD_METHOD_DESC</th>
  		</tr>
	</thead>
  	<tbody>
  		{% for row in table_list %}
  			<tr>
	 		{% for value in row %}
    			<td>{{ value }}</td>
     		{% endfor %}
    		</tr>
    	{% endfor %}
  	</tbody>
</table>
</div>

{% endblock %}