{% extends "rate_setting_app/base.html" %}

{% block title %}Rate Setting Validation{% endblock title %}
{% block subtitle %}Validation{% endblock %}

{% block content %}
<b>Please select the tables you want to validate and upload the corresponding sheets.</b> <br />
<br />
<input type="file" /> <br />
<br />
<input type="file" /> <br />
<br />
<input type="file" /> <br />
<br />
<input type="button" value="Go" /> <input type="button" value="Clear" />
<br />
<br />
<b>Validation Results:</b> <br />
<textarea name="text" cols="87" rows="20" disabled></textarea>
{% endblock %}