{% extends "rate_setting_app/base.html" %}

{% block title %}Rate Setting Validation{% endblock title %}
{% block subtitle %}Validation{% endblock %}

{% block content %}
<b>Please select the tables you want to validate and upload the corresponding sheets.</b> <br />
<br />
<input id="file_input_1" type="file" /> <br />
<br />
<input id="file_input_2" type="file" /> <br />
<br />
<input id="file_input_3" type="file" /> <br />
<br />
<input id="btn_go" type="button" value="Go" /> <input id="btn_clear" type="button" value="Clear" />
<br />
<br />
<b>Validation Results:</b> <br />
<textarea id="ta_results" cols="87" rows="20" disabled>
{% if uploaded_file_url %}The table name is: {{ table_name }}{% endif %}
</textarea>

<!--  Testing sample file upload -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

{% endblock %}